{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}
{% load static %}
{% block content %}

<section class="project-section center-column">
    <h2>Projects</h2>
    <div class="projects-list">
        <div class="project-card" >
            <a href="https://github.com/marcoleon10/AstroJumpers" target="_black">
                <img src="{% static './img/imgAstro.jpg' %}" alt="project image">
                <p>Astro Jumpers</p>
                <p>The game "Astro Jumpers" is an exciting infinity platform jumping video game that
                    immerses you in a cosmic adventure full of action and challenges. In this game, you
                    embark on an intergalactic journey as you control a brave character with the goal of
                    discovering new horizons</p>
                <p>2023</p>

                <div class="skills-container center-row">
                    <label>C++</label>
                    <label>SDLApp</label>
                </div>
            </a>
            <a href="https://github.com/marcoleon10/dynamicPianoSheets" target="_black">
                <img src="{% static './img/imgPiano.png' %}" alt="project image">
                <p>Dynamic Piano Sheet</p>
                <p>Java oriented program that uses serialization and threads. The goal of this is to let the user create its own piano sheet with a dynamic interface that allows them to add notes and play them, and save them with serialization.</p>
                <p>2023</p>

                <div class="skills-container center-row">
                    <label>Java</label>
                    <label>Serialization</label>
                    <label>Threads</label>
                    <label>JavaFX</label>
                </div>
            </a>
            
        </div>
    </div>
</section>
{% endblock content %}