/*Variables
    Color and Font family*/

:root {
    --primary-color: #627D4C;
    --primary-color-100: #E5ECDF;
    --primary-color-300: #445238;

    --secondary-color: #253468;
    --secondary-color-600: #B4BEE4;
    --secondary-color-900: #0D1326;


    --neutral-color: #E0E0E0;

    --background-color: white;

    --surface-color: #252525;

    --lobster-font: "Lobster", sans-serif;
    --sans-font: "DM Sans", sans-serif;
}

.center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*General Style:
    Styles that can be applied to all elements*/

html{
    background-color: var(--background-color);
    font-size: 16px;
}

* {
    font-family: var(--sans-font);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/*Text Styles
    and some other components*/

h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 2rem;
}


h2 {
    color: var(--primary-color-300);
    font-family: var(--lobster-font);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
}

p {
    color: var(--primary-color);
    font-size: 1.1rem;
}

.tags-container label, .skills-container label {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
}

.tags-container {
    width: 70%;
    flex-wrap: wrap;
    padding: 2rem;
    gap:2rem;
}




