<!-- templates/blog/new_blog_post.html -->

{% extends 'base.html' %}

{% block blog_list %}
    {% for post in posts %}
        <div class="date&source">
            <!-- Puedes añadir la fecha y fuente aquí si es necesario -->
        </div>
        <div class="articleContainer">
            <header class="articleTitle">
                <h2>{{ post.title }}</h2>
            </header>
            <div class="articleInfo">
                <p>{{ post.content }}</p>
            </div>
        </div>
        {% if post.image_url %}
            <div class="articleImg">
                <img src="{{ post.image_url }}" alt="Imagen del blog">
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
